
h5{
    color: red;
    text-transform: uppercase;      
}

.moveRight{
    margin-left: 15px;
    padding-bottom: 10px;
}

.moveDown{
    margin-bottom: 15px;
}
.back{
    
    padding-top:"3rem";    
    margin-right: "1rem";
    background:url("image/background.jpg")
}

.edit{
    text-align:"Center"
}